@use "../../styles/colors" as *;
@use "../../styles/lists" as lists;

.appSection {
  background: $color-background-secondary;
  padding: 64px;

  @media (max-width: 768px) {
    padding: 64px 0;
  }
}

.topRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;

  .textBlock {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 548px;

    .paragraphGroup {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      @include lists.common-list-styles(1rem);
    }

    .imageMobile {
      display: none;
    }

    .buttons {
      display: flex;
      gap: 24px;

      button {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }

  .imageBlock {
    flex: 1;
    position: relative;
    overflow: visible;

    .image {
      position: absolute;
      top: -78px;
      right: -13px;
      scale: 0.9;
      overflow: hidden;
      height: auto;
    }
  }

  @media (max-width: 1320px) {
    .imageBlock {
      .image {
        right: 0;
        max-width: 105%;
      }
    }
  }

  @media (max-width: 1020px) {
    position: relative;

    .textBlock {
      width: 100%;

      .imageMobile {
        display: block;
        max-width: 496px;
        width: 100%;
        height: auto;
        align-self: center;
      }

      h3 {
        width: 80%;
      }
    }

    .imageBlock {
      display: none;
    }
  }

  @media (max-width: 768px) {
    position: relative;
    margin-bottom: 40px;

    .textBlock {
      gap: 24px;

      h3:first-child {
        font-size: 32px;
      }

      .buttons {
        align-self: center;
        margin-top: 16px;
        flex-wrap: wrap;
      }

      @media (max-width: 500px) {
        h3,
        p {
          width: 100%;
        }
      }
    }

    .imageBlock {
      img {
        top: -105px !important;
      }

      position: absolute;
      top: -7.5rem;
      right: -10px;
      width: 250px;

      @media (max-width: 500px) {
        display: none;
      }
    }
  }
}

.columns {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: space-between;

  .column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include lists.common-list-styles(1rem);
  }
  @media (max-width: 768px) {
    flex-direction: column;
    gap: 2.5rem;

    .column {
      width: 100%;
    }
  }
}
