@import "../../styles/colors.scss";

.licensesSection {
  background: $color-background-secondary;
  padding: 64px 0;

  h2 {
    margin-bottom: 24px;
    width: 70%;
  }

  .licensesContent {
    display: flex;
    margin-bottom: 48px;

    .leftContent {
      display: flex;
      flex-direction: column;
      gap: 24px;
      flex: 2.5;
      margin-right: 20px;
    }

    .rightImage {
      flex: 1;
      display: flex;
      justify-content: flex-end;

      .imageDesk {
        width: 338px;
        height: 190px;
        margin-right: -70px;

        @media (max-width: 1290px) {
          margin-right: 0;
        }
      }

      .imageMobile {
        display: none;

        @media (max-width: 768px) {
          display: block;
          width: 100%;
          max-width: 472px;
          height: auto;
        }
      }
    }
  }

  @media (max-width: 768px) {
    h2 {
      font-size: 32px;
      margin-bottom: 40px;
    }

    .licensesContent {
      flex-direction: column;
      margin-bottom: 40px;

      .leftContent {
        order: 2;
        margin-right: 0;
      }

      .rightImage {
        order: 1;
        justify-content: center;
        margin-bottom: 40px;

        .imageDesk {
          display: none;
        }
      }
    }
  }
}
