@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.providers-section {
  .providers-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;

    @media (max-width: 980px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 570px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 320px) {
      grid-template-columns: 1fr;
    }
  }

  .provider-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1rem;
    border-radius: $border-radius;
    background-color: $color-background-providers-blocks;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    height: 88px;

    @media (max-width: 760px) {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 72px !important;
    }

    @media (max-width: 576px) {
      padding: 0.25rem;
      height: auto;
    }
  }

  .provider-image {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 580px) {
    h2 {
      max-width: 300px;
    }
  }
}
