# Modern browsers only - removes unnecessary polyfills
# Only latest versions of modern browsers (Chrome, Firefox, Safari, Edge)
# This excludes polyfills for Array.at, Array.flat, Object.fromEntries, etc.
last 1 Chrome versions
last 1 Firefox versions
last 1 Safari versions
last 1 Edge versions
not dead
not IE 11
not op_mini all

