# Browsers that we support

# Modern browsers with ES6+ support
> 0.5%
last 2 versions
Firefox ESR
not dead
not IE 11

# Exclude very old browsers to reduce polyfills
not IE <= 10
not Chrome <= 60
not Firefox <= 60
not Safari <= 12
not Edge <= 79
