@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.faq-section {
  display: block;
  gap: 0 !important;

  .faq-item {
    margin-top: 24px;
    overflow: hidden;
    width: 100%;

    .faq-question {
      font-family: var(--font-secondary);
      color: $text-color-secondary;
      background: $color-background-third;
      font-size: 24px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
      padding: 8px 32px;
      border-radius: $border-radius;
      cursor: pointer;
      display: flex;
      align-items: center;

      transition: background-color 0.3s ease;

      .icon {
        margin-right: 24px;
        display: flex;
        align-items: center;

        svg {
          width: 32px;
          height: 32px;
          fill: $color-faq-icon;
        }
      }
    }

    .faq-answer {
      color: $text-color-secondary;
      font-size: 20px;
      font-weight: $font-weight-regular;
      line-height: 30px;
      max-height: 0;
      overflow: hidden;
      padding: 0 10px;

      p {
        margin: 15px 0 5px 0;
      }

      &.active {
        padding: 5px;
      }
    }
  }

  @media (max-width: 768px) {
    .faq-item {
      .faq-question {
        font-size: 18px;
        padding: 8px 16px;
        word-wrap: break-word;
        word-break: break-word;

        .icon {
          margin-right: 16px;

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }

      .faq-answer {
        font-size: 18px;
        line-height: 32px;
      }
    }
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
  75% {
    transform: translateX(-2px);
  }
}
