@import "../../styles/colors.scss";
@import "../../../public/fonts/fonts.scss";
@import "../../styles/variables.scss";

.welcomeSection {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 540px;
  max-width: 90rem;
  margin: 0 auto 140px auto;

  background-repeat: no-repeat;
  background-position: right 148px top 7px;
  background-image: url("/block-images/welcome.webp");

  & :global(.container) {
    width: 100%;
  }

  @media (max-width: 1240px) {
    background-size: 50% auto;
    background-position: right 20px center;
  }

  @media (max-width: 768px) {
    background-image: none;
    height: auto;
    justify-content: flex-end;
    margin: 0 auto 84px auto;
    gap: 20px;
  }

  @media (max-width: 420px) {
    margin: 0 auto 72px auto;
  }
}

.mobileFigure {
  display: none;
  margin: 0;

  @media (max-width: 768px) {
    display: block;
    width: 100%;
    text-align: center;
  }
}

.mobileImage {
  display: inline-block;
  width: 100vw;
  max-width: 576px;
  height: auto;
}

.welcomeContent {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  z-index: 1;
  max-width: 72.5rem;

  @media (max-width: 768px) {
    button {
      align-self: center;
      max-height: 77px;
    }
  }
}

.welcomeText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  width: 420px;
  max-width: 50%;

  .bonusText {
    display: none;
  }

  @media (max-width: 1420px) {
    width: 400px;
  }

  @media (max-width: 1280px) {
    margin-left: 0;
  }

  @media (max-width: 768px) {
    width: 100%;
    max-width: 100%;
    gap: 24px;
    align-items: center;
    text-align: center;

    .bonusText {
      display: block;
    }

    .offerText {
      display: none;
    }
  }

  @media (max-width: 380px) {
    gap: 20px;
  }
}

.welcomeText h2 {
  font-family: $font-secondary;
  color: $text-color-secondary;
  font-size: 32px;
  font-style: normal;
  font-weight: $font-weight-regular;
  line-height: normal;

  @media (max-width: 768px) {
    font-size: 24px;
    font-family: $font-secondary;
    font-weight: $font-weight-black;
    text-transform: uppercase;
  }

  @media (max-width: 380px) {
    font-size: 20px;
  }
}
