$font-primary: "Roboto", sans-serif;
$font-secondary: "Charger", sans-serif;

@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Charger";
  src: url("./Heading/Charger-Regular.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
