$font-primary: "Roboto", sans-serif;
$font-secondary: "Arial Rounded MT Bold", sans-serif;

@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Arial Rounded MT Bold";
  src: url("Heading/arialroundedmtbold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

// @font-face {
//   font-family: "Montserrat";
//   src: url("./Heading/static/Montserrat-Black.ttf") format("truetype");
//   font-weight: 900;
//   font-style: normal;
// }
