$font-primary: "Roboto", sans-serif;
$font-secondary: "Akshar", sans-serif;

@font-face {
  font-family: "Roboto";
  src: url("./Roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("Heading/static/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./Heading/static/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Akshar";
  font-weight: 700;
  font-style: normal;
  src: url("./Heading/static/Akshar-700.woff2") format("woff2");
}
