@import "../../styles/colors";

.gamesToPlay {
  padding: 64px 0;
  background: $color-background-secondary;

  border-top: 2px solid #2c0000;
  border-bottom: 2px solid #2c0000;

  :global(.container) {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  @media (max-width: 1380px) {
    word-break: break-word;
  }

  @media (max-width: 768px) {
    padding: 40px 0;

    :global(.container) {
      gap: 40px;
    }
  }
}

.textGames {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
