@import "../../styles/colors.scss";
@import "../../styles/typography.scss";
@import "../../styles/variables.scss";

.topGames {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 140px;
  scroll-margin-top: 99px;

  h2 {
    margin-left: -12px;
  }

  button {
    align-self: center;
  }

  @media (max-width: 768px) {
    gap: 40px;
    margin-bottom: 64px;

    h2 {
      margin-left: 0;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 24px;

  @media (max-width: 890px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.gameItem {
  position: relative;
  overflow: hidden;
  border-radius: $border-radius;
  border: $border-width solid $border-color;
  transition: transform 0.5s ease;
  max-width: 264px;
  max-height: 142px;

  &:hover {
    transform: scale(1.05);
    outline: 2px solid rgba(0, 0, 0, 0.4);
  }

  .gameImage {
    width: 100%;
    height: auto;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    gap: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $color-background-third;
    opacity: 0;
    transition: opacity 0.5s ease;

    &.visible {
      opacity: 1;
    }

    &:hover {
      cursor: pointer;
    }

    @media (max-width: 768px) {
      gap: 8px;
    }
  }

  .gameName {
    text-align: center;
    font-family: $font-primary;
    color: $text-color-fourth;
    // background: linear-gradient($text-color-secondary-gradient);
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    @media (max-width: 1000px) {
      font-size: 24px;
    }

    @media (max-width: 480px) {
      font-size: 20px;
    }
  }

  .playButton {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: $font-primary;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $text-color-fourth;
    // background: linear-gradient($text-color-secondary-gradient);
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;

    @media (max-width: 768px) {
      font-size: 18px;
    }
  }

  @media (max-width: 1200px) {
    max-width: none;
    max-height: none;
  }
}
