// colors
$color-background: #ededed;
$color-background-welcome: #ffffff;
$color-background-secondary: #242321;
$color-background-third: #ffffff;
$color-background-fourth: #242321;
$color-background-header: #242321;
$color-background-footer: #242321;
$color-button-large: #ec9700;
$color-button-small: #008cff;

// text color
$text-color-primary: #fff;
$text-color-secondary: #1c1c1c;
$text-color-button-large: #fff;
$text-color-button-small: #fff;
$text-color-loader: #008cff;
$text-color-fourth: #008cff;

// svg colors
$color-faq-icon: #ec9700;
