// colors
$color-background: #ffffff;
$color-background-welcome: linear-gradient(90deg, #110f37 0%, #6f1c3a 100%);
$color-background-secondary: linear-gradient(90deg, #110f37 0%, #6f1c3a 100%);
$color-background-third: #efefef;
$color-background-fourth: #6f1c3a;
$color-background-header: #ffffff;
$color-background-footer: linear-gradient(90deg, #110f37 0%, #6f1c3a 100%);
$color-button-large: linear-gradient(180deg, #ff9800 0%, #ff3300 100%);
$color-button-small: linear-gradient(180deg, #3a68ff 0%, #0014a1 100%);
// text color
$text-color-primary: #fff;
$text-color-secondary: #120d3a;
$text-color-button-large: #fff;
$text-color-button-small: #fff;
$text-color-loader: #ff6601;
$text-color-fourth: #ff6601;

// svg colors
$color-faq-icon: linear-gradient(180deg, #3a68ff 0%, #0014a1 100%);
