// colors
$color-background: #e1d7c8;
$color-background-welcome: #201919;
$color-background-secondary: #0f0d0d;
$color-background-third: #e1d7c8;
$color-background-fourth: #0f0d0d;
$color-background-header: #0f0d0d;
$color-background-footer: #0f0d0d;
$color-button-large: linear-gradient(180deg, #ffca33 0%, #ff3401 100%);
$color-button-small: linear-gradient(180deg, #f40001 0%, #8c0107 100%);
// text color
$text-color-primary: #fff;
$text-color-secondary: #1c1c1c;
$text-color-button-large: #fff;
$text-color-button-small: #fff;
$text-color-loader: #8c0107;
$text-color-fourth: linear-gradient(180deg, #f40001 0%, #8c0107 100%);
// svg colors
$color-faq-icon: linear-gradient(180deg, #ffca33 0%, #ff3401 100%);
