// colors
$color-background: #e9eff6;
$color-background-welcome: #ffffff;
$color-background-secondary: #242b36;
$color-background-third: #ffffff;
$color-background-fourth: #242b36;
$color-background-header: #242b36;
$color-background-footer: #242b36;
$color-button-large: #ffc341;
$color-button-small: #ff4741;

// text color
$text-color-primary: #ffffff;
$text-color-secondary: #1c1c1c;
$text-color-button-large: #242b36;
$text-color-button-small: #fff;
$text-color-loader: #ffc341;
$text-color-fourth: #ffc341;

// svg colors
$color-faq-icon: #ff4741;
