// colors
$color-background: #090e11;
$color-background-welcome: #14191c;
$color-background-secondary: #26343b;
$color-background-third: #14191c;
$color-background-fourth: #26343b;
$color-background-header: #26343b;
$color-background-footer: #26343b;
$color-button-large: #ff7e10;
$color-button-small: #0ff3ff;

// text color
$text-color-primary: #fff;
$text-color-secondary: #fff;
$text-color-button-large: #fff;
$text-color-button-small: #14191c;
$text-color-loader: #ff7e10;
$text-color-fourth: #ff7e10;

$color-faq-icon: #FF7E10;
