// colors
$color-background: #ffffff;
$color-background-welcome: #f5f5f5;
$color-background-secondary: #1a0002;
$color-background-third: #f5f5f5;
$color-background-fourth: #1a0002;
$color-background-header: #1a0002;
$color-background-footer: #1a0002;
$color-button-large: linear-gradient(90deg, #da021a 0%, #f9b800 100%);
$color-button-small: transparent;

// text color
$text-color-primary: #fff;
$text-color-secondary: #1a0002;
$text-color-button-large: #fff;
$text-color-button-small: #1a0002;
$text-color-loader: #da0022;
$text-color-fourth: #da0022;

// svg colors
$color-faq-icon: #da0022;
