// colors
$color-background: #ffffff;
$color-background-welcome: #fff2f3;
$color-background-secondary: #622128;
$color-background-third: #fff2f3;
$color-background-fourth: #fff2f3;
$color-background-header: #622128;
$color-background-footer: #622128;
$color-button-large: linear-gradient(180deg, #af1a00 0%, #ff893c 100%);
$color-button-small: transparent;

// text color
$text-color-primary: #fff;
$text-color-secondary: #371014;
$text-color-button-large: #fff;
$text-color-button-small: #371014;
$text-color-loader: #df6b78;
$text-color-fourth: #df6b78;

// svg colors
$color-faq-icon: linear-gradient(180deg, #af1a00 0%, #ff893c 100%);
