// colors
$color-background: #ffffff;
$color-background-welcome: #ececec;
$color-background-secondary: #141414;
$color-background-third: #ececec;
$color-background-fourth: #141414;
$color-background-header: #141414;
$color-background-footer: #141414;
$color-button-large: #ff2f52;
$color-button-small: #ffaf2f;

// text color
$text-color-primary: #fff;
$text-color-secondary: #1c1c1c;
$text-color-button-large: #fff;
$text-color-button-small: #1c1c1c;
$text-color-loader: #ff2f52;
$text-color-fourth: #ff2f52;

// svg colors
$color-faq-icon: #ff2f52;
