// colors
$color-background: #081010;
$color-background-welcome: #0e1b1b;
$color-background-secondary: #003738;
$color-background-third: #0e1b1b;
$color-background-fourth: #003738;
$color-background-header: #003738;
$color-background-footer: #0e1b1b;
$color-button-large: #ff8a00;
$color-button-small: #00e490;

// text color
$text-color-primary: #fff;
$text-color-secondary: #fff;
$text-color-button-large: #fff;
$text-color-button-small: #0e1b1b;
$text-color-loader: #ff8a00;
$text-color-fourth: #ff8a00;

$color-faq-icon: #ff8a00;
