// colors
$color-background: #ffffff;
$color-background-welcome: #2c2c2c;
$color-background-secondary: #a57b3d;
$color-background-third: #efe7da;
$color-background-fourth: #2c2c2c;
$color-background-header: #ffffff;
$color-background-footer: #313131;
$color-button-large: #d50f14;
$color-button-small: #f2940a;

// text color
$text-color-primary: #fff;
$text-color-secondary: #1c1c1c;
$text-color-button-large: #fff;
$text-color-button-small: #fff;
$text-color-loader: #d50f14;
$text-color-fourth: #d50f14;

// svg colors
$color-faq-icon: #d50f14;
