// colors
$color-background: #fff;
$color-background-secondary: url("/bg.png") repeat,
  linear-gradient(180deg, #281438 0%, #1e1a58 100%);
$color-background-third: #f3f3f3;
$color-background-fourth: linear-gradient(180deg, #281438 0%, #1e1a58 100%);
$color-background-header: #fff;
$color-background-footer: #1e1a58;
$color-background-providers-blocks: #ceb3e4;
$color-button-large: #ff0012;
$color-button-small: #8700ff;
$color-border-primary: #484646;

// text color
$text-color-primary: #fff;
$text-color-primary-gradient-hover: #ff0012;
$text-color-secondary: linear-gradient(180deg, #e7c480 0%, #c59c46 100%);
// $text-color-secondary-gradient: (90deg, #932093 0%, #730fee 100%);
$text-color-third: #00041a;
$text-color-fourth: #ff0012;
