// colors
$color-background: #16171b;
$color-background-welcome: #222327;
$color-background-secondary: #4c515b;
$color-background-third: #222327;
$color-background-fourth: #4c515b;
$color-background-header: #4c515b;
$color-background-footer: #4c515b;
$color-button-large: linear-gradient(180deg, #5eff7e 0%, #017933 100%);
$color-button-small: linear-gradient(180deg, #fee206 0%, #ff3144 100%);
// text color
$text-color-primary: #fff;
$text-color-secondary: #fff;
$text-color-button-large: #222327;
$text-color-button-small: #222327;
$text-color-loader: #fed40b;
$text-color-fourth: #fed40b;

$color-faq-icon: #fed40b;
