// colors
$color-background: #e6e6e6;
$color-background-welcome: #ffffff;
$color-background-secondary: #ffffff;
$color-background-third: #ffffff;
$color-background-fourth: #120d3a;
$color-background-header: #e6e6e6;
$color-background-footer: #120d3a;
$color-button-large: linear-gradient(180deg, #ff9800 0%, #da5b00 100%);
$color-button-small: linear-gradient(180deg, #5568ff 0%, #0015b9 100%);
// text color
$text-color-primary: #1b1b1b;
$text-color-secondary: #1b1b1b;
$text-color-button-large: #fff;
$text-color-button-small: #fff;
$text-color-loader: #ef7d00;
$text-color-fourth: #ef7d00;

// svg colors
$color-faq-icon: #2a3edb;
