// colors
$color-background: #f6f4f1;
$color-background-welcome: #dde3ff;
$color-background-secondary: #191919;
$color-background-third: #dde3ff;
$color-background-fourth: #191919;
$color-background-header: #191919;
$color-background-footer: #191919;
$color-button-large: #4e70f9;
$color-button-small: #f98f4e;

// text color
$text-color-primary: #fff;
$text-color-secondary: #00041a;
$text-color-button-large: #fff;
$text-color-button-small: #fff;
$text-color-loader: #4568f4;
$text-color-fourth: #4568f4;

// svg colors
$color-faq-icon: #0032ff;
