// colors
$color-background: #f8f8f8;
$color-background-welcome: #eeeeee;
$color-background-secondary: url("/bg.png"), #484848;
$color-background-third: #eeeeee;
$color-background-fourth: #484848;
$color-background-header: #e11c8e;
$color-background-footer: #232323;
$color-button-large: #ffaf03;
$color-button-small: #e11c8e;

// text color
$text-color-primary: #fff;
$text-color-secondary: #222222;
$text-color-button-large: #222222;
$text-color-button-small: #fff;
$text-color-loader: #e11c8e;
$text-color-fourth: #e11c8e;

// svg colors
$color-faq-icon: #e11c8e;
