// colors
$color-background: #06112e;
$color-background-welcome: #101c3a;
$color-background-secondary: #192b58;
$color-background-third: #101c3a;
$color-background-fourth: #192b58;
$color-background-header: #192b58;
$color-background-footer: #1e3366;
$color-button-large: #ff4c00;
$color-button-small: #007afe;

// text color
$text-color-primary: #fff;
$text-color-secondary: #fff;
$text-color-button-large: #fff;
$text-color-button-small: #fff;
$text-color-loader: #ff4c00;
$text-color-fourth: #ff4c00;

$color-faq-icon: #007afe;
