// colors
$color-background: #ffffff;
$color-background-welcome: #d9ebed;
$color-background-secondary: #18735a;
$color-background-third: #d9ebed;
$color-background-fourth: #18735a;
$color-background-header: #18735a;
$color-background-footer: #18735a;
$color-button-large: #0be39d;
$color-button-small: #fec90f;

// text color
$text-color-primary: #fff;
$text-color-secondary: #212121;
$text-color-button-large: #0c352a;
$text-color-button-small: #0c352a;
$text-color-loader: #00a973;
$text-color-fourth: #00a973;

// svg colors
$color-faq-icon: #18735a;
