// colors
$color-background: #f6f2ff;
$color-background-secondary: #397cf2;
$color-background-third: #ebedf5;
$color-background-fourth: #397cf2;
$color-background-header: #397cf2;
$color-background-footer: #397cf2;
$color-background-providers-blocks: #bfbec9;
$color-button-large: #d70a92;
$color-button-small: #0ad74f;
$color-border-primary: #484646;

// text color
$text-color-primary: #fff;
$text-color-secondary: #00041a;
$text-color-button-large: #fff;
$text-color-button-small: #fff;
$text-color-button-header: #00041a;
$text-color-welcome: #ffb800;
$text-color-fourth: #d70a92;

// svg colors
$color-faq-icon: #04519e;
$color-star-icon: #1cb3fd;
