// colors
$color-background: #00132d;
$color-background-secondary: #081f3d;
$color-background-third: #123b71;
$color-background-fourth: #ff6700;
$color-background-header: #081f3d;
$color-background-footer: #081f3d;
$color-background-providers-blocks: #123b71;
$color-button-large: #ff6600;
$color-button-small: #3eff00;
$color-border-primary: #484646;

// text color
$text-color-primary: #fff;
$text-color-secondary: #fff;
$text-color-button-large: #fff;
$text-color-button-small: #00132d;
// $text-color-header-button-large: #fff;
// $text-color-header-button-small: #fff;
$text-color-welcome: #fff;
$text-color-fourth: #ff6700;

// svg colors
$color-faq-icon: #3eff00;
$color-star-icon: #3eff00;
