// colors
$color-background: #141420;
$color-background-welcome: #10101a;
$color-background-secondary: #2c2c40;
$color-background-third: #10101a;
$color-background-fourth: #2c2c40;
$color-background-header: #2c2c40;
$color-background-footer: #2c2c40;
$color-button-large: #fff614;
$color-button-small: #3c3cff;

// text color
$text-color-primary: #fff;
$text-color-secondary: #fff;
$text-color-button-large: #10101a;
$text-color-button-small: #fff;
$text-color-loader: #fff614;
$text-color-fourth: #fff614;

// svg colors
$color-faq-icon: #FFF614;
