// colors
$color-background: #ffffff;
$color-background-welcome: linear-gradient(90deg, #07081c 0%, #890a10 100%);
$color-background-secondary: linear-gradient(90deg, #07081c 0%, #890a10 100%);
$color-background-third: #f1f1f1;
$color-background-fourth: #07081c;
$color-background-header: #ffffff;
$color-background-footer: #07081c;
$color-button-large: linear-gradient(180deg, #f9bf00 0%, #f87c00 100%);
$color-button-small: linear-gradient(180deg, #ff000f 0%, #7e0007 100%);
// text color
$text-color-primary: #fff;
$text-color-secondary: #1c1c1c;
$text-color-button-large: #fff;
$text-color-button-small: #fff;
$text-color-loader: #ff000c;
$text-color-fourth: linear-gradient(180deg, #ff000f 0%, #7e0007 100%);
// svg colors
$color-faq-icon: #ff000c;
