$border-color: none;
$border-width: 0;
$border-radius: 12px;

// components
$bonus-details-button-mobile-width: auto;

// buttons
$button-large-border-radius: 12px;
$button-small-border-radius: 12px;
$button-large-border-radius-mobile: 12px;
$button-small-border-radius-mobile: 12px;

$header-button-border-radius: 12px;
$header-button-height: 54px;
$header-button-large-width: 200px;
$header-button-small-width: 122px;

$header-button-border-radius-mobile: 12px;
$header-button-height-mobile: 32px;
$header-button-large-width-mobile: 120px;
$header-button-small-width-mobile: 78px;

// font weights
$font-weight-regular: 500;
$font-weight-bold: 500;
$font-weight-black: 500;
