$border-color: none;
$border-width: 0;
$border-radius: 16px;

// components
$bonus-details-button-mobile-width: auto;

// buttons
$button-large-border-radius: 50px;
$button-small-border-radius: 50px;
$button-large-border-radius-mobile: 50px;
$button-small-border-radius-mobile: 50px;

$header-button-border-radius: 50px;
$header-button-height: 52px;
$header-button-large-width: 200px;
$header-button-small-width: auto;

$header-button-border-radius-mobile: 50px;
$header-button-height-mobile: auto;
$header-button-large-width-mobile: 120px;
$header-button-small-width-mobile: auto;

// font weights
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-weight-black: 700;
