$border-color: none;
$border-width: 0;
$border-radius: 25px;

// components
$bonus-details-button-mobile-width: auto;

// buttons
$button-large-border-radius: 20px;
$button-small-border-radius: 20px;
$button-large-border-radius-mobile: 20px;
$button-small-border-radius-mobile: 20px;

$header-button-border-radius: 15px;
$header-button-height: auto;
$header-button-large-width: 200px;
$header-button-large-small: 110px;

$header-button-border-radius-mobile: 10px;
$header-button-height-mobile: auto;
$header-button-large-width-mobile: 100px;
$header-button-large-small-mobile: 70px;

// font weights
$font-weight-regular: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
