$border-color: none;
$border-width: 0;
$border-radius: 0px;

// components
$bonus-details-button-mobile-width: 200px;

// buttons
$button-large-border-radius: 0px;
$button-small-border-radius: 0px;
$button-large-border-radius-mobile: 0px;
$button-small-border-radius-mobile: 0px;

$header-button-border-radius: 0px;
$header-button-height: 40px;
$header-button-large-width: 200px;
$header-button-small-width: 104px;

$header-button-border-radius-mobile: 0px;
$header-button-height-mobile: 28px;
$header-button-large-width-mobile: 100px;
$header-button-small-width-mobile: 60px;

// font weights
$font-weight-regular: 500;
$font-weight-bold: 400;
$font-weight-black: 400;
