$border-color: none;
$border-width: 0;
$border-radius: 8px;

// components
$bonus-details-button-mobile-width: auto;

// buttons
$button-large-border-radius: 6px;
$button-small-border-radius: 6px;
$button-large-border-radius-mobile: 6px;
$button-small-border-radius-mobile: 6px;

$header-button-border-radius: 6px;
$header-button-height: auto;
$header-button-large-width: 200px;
$header-button-small-width: 110px;

$header-button-border-radius-mobile: 4px;
$header-button-height-mobile: auto;
$header-button-large-width-mobile: 100px;
$header-button-small-width-mobile: 70px;

// font weights
$font-weight-regular: 500;
$font-weight-bold: 900;
$font-weight-black: 900;
