@use "../../styles/colors.scss" as *;

.about-section {
  background: $color-background-secondary;

  .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 64px 0;

    @media (max-width: 1220px) {
      padding: 40px 40px;
      gap: 40px;
    }

    @media (max-width: 375px) {
      padding: 40px 20px;
      gap: 40px;
    }
  }

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .about-text {
      width: 45%;

      @media (max-width: 1380px) {
        width: 100%;
      }
    }

    .about-image {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 1380px) {
        max-width: 650px;
        width: 100%;
      }

      @media (max-width: 1220px) {
        display: none;
      }
    }
  }
}
