@import "../../styles/colors.scss";
@import "../../styles/variables.scss";

.h1Section {
  display: flex;
  justify-content: center;
  margin: 64px auto 0 auto;

  @media (max-width: 768px) {
    margin: 40px auto 0 auto;
  }

  h1 {
    font-size: 28px;
    font-weight: $font-weight-black;
    color: $text-color-primary;
    text-transform: uppercase;

    background-color: $color-background-third;
    border-radius: $border-radius;
    padding: 32px;
    max-width: 1120px;
    width: 100%;
    text-align: center;

    @media (max-width: 1180px) {
      max-width: 828px;
    }

    @media (max-width: 913px) {
      max-width: 544px;
    }

    @media (max-width: 768px) {
      font-size: 20px;
      margin: 0 40px;
      max-width: 496px;
      padding: 26px;
    }

    @media (max-width: 420px) {
      margin: 0 20px;
    }
  }
}
