@import "../styles/colors";
@import "@/styles/_fonts-bridge.scss";
@import "../styles/variables";

:root {
  --color-ico: #{$text-color-secondary};
  --text-color-fourth: #{$text-color-fourth};
  --color-faq-icon: #{$color-faq-icon};
  
  // Background colors
  --color-background: #{$color-background};
  --color-background-welcome: #{$color-background-welcome};
  --color-background-secondary: #{$color-background-secondary};
  --color-background-third: #{$color-background-third};
  --color-background-fourth: #{$color-background-fourth};
  --color-background-header: #{$color-background-header};
  --color-background-footer: #{$color-background-footer};
  
  // Text colors
  --text-color-primary: #{$text-color-primary};
  --text-color-secondary: #{$text-color-secondary};
  --text-color-button-large: #{$text-color-button-large};
  --text-color-button-small: #{$text-color-button-small};
  --text-color-loader: #{$text-color-loader};
  
  // Button colors
  --color-button-large: #{$color-button-large};
  --color-button-small: #{$color-button-small};
  
  // Border radius
  --border-radius: #{$border-radius};
  --button-large-border-radius: #{$button-large-border-radius};
  --button-small-border-radius: #{$button-small-border-radius};
  --button-large-border-radius-mobile: #{$button-large-border-radius-mobile};
  --button-small-border-radius-mobile: #{$button-small-border-radius-mobile};
  --header-button-border-radius: #{$header-button-border-radius};
  --header-button-border-radius-mobile: #{$header-button-border-radius-mobile};
  
  // Header button sizes
  --header-button-height: #{$header-button-height};
  --header-button-height-mobile: #{$header-button-height-mobile};
  --header-button-large-width: #{$header-button-large-width};
  --header-button-large-small: #{$header-button-large-small};
  --header-button-large-width-mobile: #{$header-button-large-width-mobile};
  --header-button-large-small-mobile: #{$header-button-large-small-mobile};
  
  // Font weights
  --font-weight-regular: #{$font-weight-regular};
  --font-weight-bold: #{$font-weight-bold};
  --font-weight-black: #{$font-weight-black};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: $color-background;
  font-family: $font-primary;
}

.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;

  @media (max-width: 1180px) {
    padding: 0 40px;
  }

  @media (max-width: 375px) {
    padding: 0 20px;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 140px;
  scroll-margin-top: 99px;

  @media (max-width: 1120px) {
    margin-bottom: 64px;
  }

  @media (max-width: 768px) {
    gap: 40px;
  }

  @media (max-width: 420px) {
    margin-bottom: 72px;
  }
}

.h2-heading {
  color: $text-color-secondary;
  font-family: $font-secondary;
  font-size: 56px;
  font-style: normal;
  font-weight: $font-weight-bold;
  line-height: normal;
  text-transform: uppercase;
  word-break: break-word;
  hyphens: auto;

  &.white {
    color: $text-color-primary;
  }

  @media (max-width: 768px) {
    font-size: 32px;
    // font-weight: $font-weight-black;
  }

  @media (max-width: 570px) {
    font-size: 26px;
  }
}

.h3-heading {
  color: $text-color-primary;
  font-family: $font-secondary;
  font-size: 40px;
  font-style: normal;
  font-weight: $font-weight-bold;
  line-height: normal;
  text-transform: uppercase;
  word-break: break-word;
  hyphens: auto;

  @media (max-width: 768px) {
    font-size: 24px;
    // font-weight: $font-weight-black;
  }

  @media (max-width: 570px) {
    font-size: 20px;
  }
}

.h4-heading {
  color: $text-color-secondary;
  font-family: $font-secondary;
  font-size: 24px;
  font-style: normal;
  font-weight: $font-weight-bold;
  line-height: normal;
  text-transform: uppercase;
  word-break: break-word;
  hyphens: auto;

  &.white {
    color: $text-color-primary;
  }

  @media (max-width: 768px) {
    // font-weight: $font-weight-black;
    font-size: 18px;
  }
}

.paragraph-text {
  color: $text-color-primary;
  font-family: $font-primary;
  font-size: 20px;
  font-style: normal;
  font-weight: $font-weight-regular;
  line-height: 40px;

  &.black {
    color: $text-color-secondary;
  }

  @media (max-width: 768px) {
    font-size: 18px;
    line-height: 32px;
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  height: 100vh;
  text-align: center;

  h2 {
    margin-top: 3rem;
    margin-top: auto;
  }

  p {
    font-family: $font-primary;
    color: $text-color-secondary;
    font-size: 28px;
    font-weight: $font-weight-regular;
  }

  button {
    align-self: center;
    margin-bottom: auto;
  }

  @media (max-width: 768px) {
    p {
      font-size: 20px;
      line-height: 26px;
    }
  }
}
