@import "../../styles/colors.scss";
@import "../../../public/fonts/fonts.scss";
@import "../../styles/variables.scss";

.offerCard {
  display: flex;
  width: 260px;
  padding: 32px 24px;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  outline: 2px solid #ffa700;
  border-radius: $border-radius;
  background: $color-background-third;

  img {
    filter: drop-shadow(0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.75));
  }

  h3 {
    color: $text-color-secondary;
    text-align: center;
    font-family: $font-primary;
    font-size: 20px;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: normal;
  }

  h4 {
    font-family: $font-primary;
    font-size: 24px;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: normal;
    color: $text-color-fourth;

    // background: $text-color-fourth;
    // background-clip: text;
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
  }

  p {
    color: $text-color-secondary;
    text-align: center;
    font-family: $font-primary;
    font-size: 20px;
    font-style: normal;
    font-weight: $font-weight-regular;
    line-height: normal;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  button {
    margin-top: auto;
    // padding: 4px 32px !important;
    margin-left: -20px;
    margin-right: -20px;
    // width: 206px;
  }

  @media (max-width: 768px) {
    width: 240px;
    height: 264px;
    padding: 16px;

    img {
      width: 160px;
    }

    h3 {
      display: none;
    }

    h4 {
      margin-bottom: -8px;
    }

    button {
      width: 202px;
    }
  }

  @media (max-width: 575px) {
    width: 100%;

    button {
      width: auto;
    }
  }
}
