@import "@/styles/colors.scss";
@import "@/styles/variables.scss";

.top-casinos-section {
  margin-top: 70px + 64px;

  .offers-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 26px;
    min-height: 600px;

    @media (max-width: 575px) {
      width: 100%;
    }
  }

  button {
    align-self: center;
  }

  @media (max-width: 768px) {
    margin-top: 30px + 40px;
    padding: 24px 40px;

    .offers-grid {
      gap: 16px;
      min-height: 560px;
    }
  }

  @media (max-width: 380px) {
    padding: 24px 20px;
  }

  @media (max-width: 1180px) {
    .offers-grid {
      justify-content: center;
    }
  }
}

.skeleton-card {
  width: 260px;
  height: 355px;
  border-radius: $border-radius;
  background: $color-background-third;
  outline: $border-width solid $border-color;

  @media (max-width: 768px) {
    width: 240px;
    height: 264px;
  }

  @media (max-width: 575px) {
    width: 100%;
  }
}
