@import "../../styles/colors.scss";
@import "../../../public/fonts/fonts.scss";
@import "../../styles/variables.scss";

.header {
  display: flex;
  background: $color-background-header;
  padding: 20px 160px;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 96px;

  svg {
    margin-top: 4px;

    @media (max-width: 1080px) {
      margin-top: 0px;
    }

    @media (max-width: 768px) {
      margin-top: 0px;
      margin-left: -28px;
      scale: 0.77;
    }
  }

  @media (max-width: 1080px) {
    padding: 24px 40px;
  }

  @media (max-width: 768px) {
    height: 96px;
  }

  @media (max-width: 380px) {
    padding: 5px 10px;
    height: 64px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerButtons {
  display: flex;
  gap: 24px;

  .headerButton {
    height: $header-button-height;
    font-family: $font-secondary;
    font-weight: $font-weight-black;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: $header-button-border-radius;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    display: inline-block;
    z-index: 1;

    &.logIn {
      background: $color-button-small;
      width: $header-button-small-width;
      color: $text-color-button-small;

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: linear-gradient(180deg, #ff7979 0%, #e83333 100%);
        border-radius: 10px;
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background: $color-button-small;
        border-radius: 9px;
        z-index: -1;
      }
    }

    &.signUp {
      background: $color-button-large;
      width: $header-button-large-width;
      color: $text-color-button-large;

      &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: linear-gradient(180deg, #f8be74 0%, #dc9301 100%);
        border-radius: 10px;
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        background: $color-button-large;
        border-radius: 9px;
        z-index: -1;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }
  @media (max-width: 768px) {
    gap: 8px;

    .headerButton {
      height: $header-button-height-mobile;
      border-radius: $header-button-border-radius-mobile;
      font-size: 10px;

      &.logIn {
        width: $header-button-small-width-mobile;
      }
      &.signUp {
        width: $header-button-large-width-mobile;
      }
    }
  }

  @media (max-width: 500px) {
    .headerButton {
      &.logIn {
        display: none;
      }
    }
  }

  @media (max-width: 380px) {
    .headerButton {
      &.signUp {
        width: auto;
        height: auto;
      }
    }
  }
}
