@import "@/styles/colors.scss";
@import "@/styles/variables.scss";
@import "@/styles/_fonts-bridge.scss";

.spacer {
  flex: 1;
}

.header {
  display: flex;
  background: $color-background-header;
  padding: 20px 160px;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 96px;

  svg {
    margin-top: 4px;

    @media (max-width: 1080px) {
      margin-top: 0px;
    }

    @media (max-width: 768px) {
      margin-top: 4px;
    }
  }

  @media (max-width: 1080px) {
    padding: 24px 40px;
  }

  @media (max-width: 768px) {
    height: 96px;
  }

  @media (max-width: 380px) {
    padding: 5px 10px;
    height: 64px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navList {
  display: flex;
  gap: 24px;
  margin-left: auto;
  margin-right: 28px;
  list-style: none;
  padding: 0;

  @media (max-width: 850px) {
    gap: 10px;
    margin-right: 10px;
  }
}

.navListMobile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navLink {
  font-family: $font-third;
  color: $text-color-primary;
  background: none;
  border: none;
  font-weight: $font-weight-black;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;

  &:hover {
    background: $color-button-large;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.activeNavLink {
  background: $color-button-large;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
  .navList {
    display: none;
  }
  .navLink {
    font-size: 32px;
    padding: 6px 16px;
  }
}

.headerButtons {
  display: flex;
  gap: 24px;

  .headerButton {
    font-family: $font-third;
    height: $header-button-height;
    font-weight: $font-weight-black;
    font-size: 14px;
    padding: 12px 32px;
    border-radius: $header-button-border-radius;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &.playNow {
      background: $color-button-large;
      width: $header-button-large-width;
      color: $text-color-button-large;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
  @media (max-width: 768px) {
    gap: 8px;

    .headerButton {
      height: $header-button-height-mobile;
      border-radius: $header-button-border-radius-mobile;
      font-size: 10px;
      padding: 8px 16px;

      &.playNow {
        width: $header-button-large-width-mobile;
      }
    }
  }

  @media (max-width: 500px) {
    .headerButton {
      &.playNow {
        display: inline-block;
      }
    }
  }

  @media (max-width: 380px) {
    .headerButton {
      &.playNow {
        width: auto;
        height: auto;
      }
    }
  }
}

.burger {
  background: none;
  border: none;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 24px;
  height: 24px;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;

  @media (max-width: 768px) {
    display: flex;
  }
}

.burgerLine {
  width: 100%;
  height: 3px;
  background-color: $text-color-primary;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger.open {
  .burgerLine:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .burgerLine:nth-child(2) {
    opacity: 0;
  }
  .burgerLine:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.menuItems {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .menuItems {
    flex-direction: column;
    text-align: center;
    background: $color-background-header;
    position: fixed;
    top: 96px;
    left: 0;
    width: 100%;
    height: calc(100vh - 96px);
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    z-index: 1000;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    &.open {
      transform: translateX(0);
    }
  }
}

@media (max-width: 380px) {
  .menuItems {
    top: 64px;
    height: calc(100vh - 64px);
  }
}

.hidden {
  display: none;
}
