@import "../../styles/colors.scss";
@import "../../../public/fonts/fonts.scss";
@import "../../styles/variables.scss";

.spacer {
  flex: 1;
}

.header {
  display: flex;
  background: $color-background-header;
  padding: 20px 160px;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 96px;

  svg {
    margin-top: 4px;

    @media (max-width: 1080px) {
      margin-top: 0px;
    }

    @media (max-width: 768px) {
      margin-top: 4px;
      max-width: 118px;
    }
  }

  @media (max-width: 1080px) {
    padding: 24px 40px;
  }

  @media (max-width: 768px) {
    height: 96px;
  }

  @media (max-width: 380px) {
    padding: 5px 10px;
    height: 64px;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.headerButtons {
  display: flex;
  gap: 24px;

  .headerButton {
    height: $header-button-height;
    font-family: $font-secondary;
    font-weight: $font-weight-black;
    font-size: 14px;
    padding: 10px 4px;
    border-radius: $header-button-border-radius;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &.login {
      background: linear-gradient(#141414, #141414) padding-box,
        linear-gradient(180deg, #d1d1d1 0%, #6e6e6e 100%) border-box;
      width: $header-button-large-small;
      color: $text-color-button-large;
      border: 2px solid transparent;
    }

    &.signup {
      background: $color-button-large;
      width: $header-button-large-width;
      color: $text-color-button-large;

      outline: 2px solid;
      outline-offset: -2px;
      outline-color: #ffffff33;
    }

    &:hover {
      transform: scale(1.05);
    }
  }
  @media (max-width: 768px) {
    gap: 8px;

    .headerButton {
      height: $header-button-height-mobile;
      border-radius: $header-button-border-radius-mobile;
      font-size: 10px;
      padding: 6px 16px;

      &.login {
        width: $header-button-large-small-mobile;
      }

      &.signup {
        width: $header-button-large-width-mobile;
      }
    }
  }

  @media (max-width: 575px) {
    .headerButton {
      &.login {
        display: none;
      }
    }
  }

  @media (max-width: 500px) {
    .headerButton {
      &.signup {
        display: inline-block;
      }
    }
  }

  @media (max-width: 380px) {
    .headerButton {
      &.signup {
        width: auto;
        height: auto;
      }
    }
  }
}

.langControl {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 8px;

  @media (max-width: 768px) {
    margin-right: -7px;
  }

  select {
    background: transparent;
    border: none;
    font-family: $font-primary;
    font-weight: $font-weight-regular;
    font-size: 20px;
    color: $text-color-primary;
    padding: 0 8px;
    outline: none;
    appearance: none;
    cursor: pointer;
  }

  svg {
    flex-shrink: 0;
    margin: auto;

    &:last-child {
      margin-bottom: -4px;
    }
  }

  @media (max-width: 768px) {
    scale: 0.8;
  }
}
