@import "../../styles/colors.scss";
@import "../../styles/typography.scss";

.header {
  background: $color-background-header;
  padding: 20px 160px;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 96px;

  img {
    margin-top: 3px;
    margin-left: 23px;
    scale: 1.36;
  }

  @media (max-width: 980px) {
    padding: 24px 40px;
  }

  @media (max-width: 768px) {
    height: 96px;
  }

  @media (max-width: 380px) {
    padding: 5px 10px;
    height: 64px;

    img {
      margin-left: 0;
      scale: 1;
    }
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 24px;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  opacity: 1;

  li a {
    color: $text-color-primary;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-decoration: none;
    transition: background-image 0.3s ease;
    background-image: none;
    cursor: pointer;

    &:hover {
      color: $text-color-primary-gradient-hover;
      // background-image: $text-color-primary-gradient-hover;
      // -webkit-background-clip: text;
      // background-clip: text;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    position: fixed;
    top: 96px;
    right: -100%;
    width: 100%;
    height: 100%;
    background: $color-background-header;
    padding-top: 2.5rem;
    gap: 16px;
    transition: right 0.4s ease;
    text-align: center;

    &.open {
      right: 0;
    }

    li {
      padding: 1rem 0;
    }

    li a {
      font-size: 32px;
    }
  }

  @media (max-width: 380px) {
    top: 64px;
  }
}

.burger-menu {
  position: relative;
  width: 30px;
  height: 24px;
  cursor: pointer;
  display: none;
  background: none;
  border: none;
  margin-right: 30px;
  margin-bottom: 35px;
  .burger-lines {
    position: absolute;
    top: 22px;
    left: 22px;
    width: 100%;
    height: 4px;
    background-color: $text-color-primary;
    transition: all 0.3s ease;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $text-color-primary;
      transition: all 0.3s ease;
    }

    &:before {
      top: -10px;
    }

    &:after {
      top: 10px;
    }
  }

  &.open .burger-lines {
    background-color: transparent;

    &:before {
      transform: rotate(45deg);
      top: 0;
    }

    &:after {
      transform: rotate(-45deg);
      top: 0;
    }
  }
}

@media (max-width: 768px) {
  .burger-menu {
    display: block;
  }
}
