@import "../../styles/colors";
@import "../../styles/typography";

.footer {
  position: relative;
  background: $color-background-footer;
  display: flex;
  padding: 24px 0;
  text-align: center;

  :global(.container) {
    width: 100%;
  }

  .partners {
    margin-bottom: 24px;

    .row {
      display: flex;
      justify-content: center;
      gap: 16px 18px;
      margin-bottom: 24px;
      flex-wrap: wrap;

      &:first-child {
        .logoWrapper {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: -2px;

          @media (max-width: 768px) {
            margin-top: -17px;
            margin-bottom: -10px;
          }

          img {
            position: absolute;
            left: 220px;
            cursor: pointer;

            @media (max-width: 768px) {
              scale: 0.79;
            }
          }
        }
      }

      &:nth-child(2) {
        gap: 7px 12px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        flex-wrap: wrap;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .partnerLogo {
        mix-blend-mode: luminosity;

        &:hover {
          mix-blend-mode: normal;
        }
      }
    }
  }

  .copyright {
    color: rgba(255, 255, 255, 0.34);
    font-family: $font-primary;
    font-size: 20px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    span:first-child {
      font-size: 32px;
      margin-right: 16px;

      @media (max-width: 768px) {
        font-size: 18px;
      }
    }
  }

  // Media queries
  @media (max-width: 1520px) {
    .row {
      &:first-child {
        .logoWrapper {
          margin-bottom: 16px;

          img {
            position: static !important;
            margin-top: -13px;
            margin-bottom: -5px;
          }
        }

        .partnerLogo {
          &:nth-child(1) {
            position: absolute !important;
            left: 50px !important;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 24px 0 12px 0;

    .partners {
      margin-bottom: -16px;
    }

    .row {
      gap: 10px !important;
      margin-bottom: 16px !important;

      .partnerLogo {
        width: auto;
        height: 22px !important;
      }

      img {
        margin-top: -7px !important;
        margin-bottom: 5px !important;
      }
    }

    .copyright {
      font-size: 18px;
      line-height: 24px;
      margin-top: 34px;

      span:first-child {
        margin-right: 8px;
      }
    }
  }

  @media (max-width: 500px) {
    .copyright {
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media (max-width: 480px) {
    .row .partnerLogo {
      height: 18px;
    }
  }

  @media (max-width: 300px) {
    .hiddenSpan {
      display: none !important;
    }
  }
}
