@import "../../styles/colors";
@import "../../styles/typography";

.footer {
  position: relative;
  background: $color-background-footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 24px 0;

  .partners {
    margin-bottom: 24px;

    @media (max-width: 768px) {
      margin-bottom: 12px;
    }

    .row {
      display: flex;
      justify-content: center;
      gap: 16px;
      margin-bottom: 24px;
      flex-wrap: wrap;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .logoWrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 34px;

      @media (max-width: 768px) {
        margin-bottom: 22px;
      }

      .logoBg {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 280px;
        height: 81px;
        background: #9e76ff;
        border-radius: 0 0 32px 32px;
        z-index: 0;

        @media (max-width: 768px) {
          height: 69px;
        }
      }

      img {
        position: relative;
        z-index: 1;
        cursor: pointer;
        top: 20px;

        @media (max-width: 768px) {
          top: 8px;
        }
      }
    }

    .partnerLogo {
      mix-blend-mode: luminosity;
      transition: mix-blend-mode 0.3s;

      &:hover {
        mix-blend-mode: normal;
      }
    }
  }

  .copyright {
    color: rgba(255, 255, 255, 0.34);
    font-family: $font-primary;
    font-size: 20px;
    line-height: 40px;
    text-align: center;

    span:first-child {
      font-size: 32px;
      margin-right: 16px;
    }
  }

  @media (max-width: 768px) {
    padding: 0 0 16px 0;

    .partners .row {
      gap: 10px;
      margin-bottom: 16px;
    }

    .partnerLogo {
      height: 22px !important;
    }

    .copyright {
      font-size: 18px;
      line-height: 24px;

      span:first-child {
        font-size: 18px;
        margin-right: 8px;
      }
    }
  }
}
