@import "../../../styles/colors.scss";

.sectionContainer {
  // padding: 64px 0;
  background: $color-background;

  :global(.container) {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  @media (max-width: 1380px) {
    word-break: break-word;
  }

  @media (max-width: 768px) {
    padding: 40px 0;

    :global(.container) {
      gap: 40px;
    }
  }
  .paragraphGroup {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
