.two-columns-container {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;

  .innerDiv {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .styled-list {
    margin-left: 1.5rem;
    padding: 0;
  }

  .ordered {
    list-style-type: decimal;
  }

  .unordered {
    list-style-type: disc;
  }
}

@media (max-width: 820px) {
  .two-columns-container {
    flex-direction: column;
    gap: 2.5rem !important;

    .column {
      gap: 2.5rem !important;
    }
  }
}
