@use "../../styles/colors.scss" as *;
@use "../../styles/lists" as lists;

.login-section {
  .container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    @include lists.common-list-styles(1.5rem);

    .h4-heading {
      color: $text-color-primary;
    }
  }

  .deposit-withdrawal {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: space-between;

    .deposit-section,
    .withdrawal-section {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      @include lists.common-list-styles(1rem);
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 2.5rem;

      .deposit-section,
      .withdrawal-section {
        width: 100%;
      }
    }
  }
}
