@import "../../../styles/colors.scss";
@import "../../../styles/typography.scss";

.button {
  cursor: pointer;
  font-family: $font-secondary;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;

  &.primary {
    // outline: 4px solid;
    // outline-offset: -4px;
    padding: 4px 48px;
    // outline-color: #f9f8f83b;
    background: $color-button-large;
    color: #0c2f00;
    font-size: 28px;
    border: none;
    border-radius: 16px;
    min-width: 280px;
    height: 87px;

    @media (max-width: 768px) {
      font-size: 24px;
      padding: 4px 48px;
      min-width: 240px;
      height: 77px;
      border-radius: 12px;
    }

    @media (max-width: 420px) {
      font-size: 18px;
      padding: 10px 14px;
    }

    @media (max-width: 380px) {
      height: 60px;
    }

    @media (max-width: 300px) {
      width: auto;
      height: auto;
    }
  }

  &.secondary {
    outline: 3px solid;
    outline-offset: -3px;
    padding: 2px 18px;
    outline-color: rgba(255, 255, 255, 0.2);
    background: $color-button-small;
    color: #0c2f00;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    height: 52px;

    @media (max-width: 768px) {
      font-size: 18px;
    }

    @media (max-width: 300px) {
      padding: 2px 16px;
      width: auto;
      height: auto;
    }
  }

  &:hover {
    transform: scale(1.07);
  }
}
