@import "../../../styles/colors.scss";
@import "../../../../public/fonts/fonts.scss";
@import "../../../styles/variables.scss";

.button {
  cursor: pointer;
  font-family: $font-tertiary;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  &.primary {
    // outline: 4px solid;
    // outline-offset: -4px;
    // outline-color: #f9f8f83b;

    border-radius: $button-large-border-radius;
    background: $color-button-large;
    color: $text-color-button-large;
    font-size: 28px;
    border: none;
    height: 82px;
    width: 340px;

    @media (max-width: 768px) {
      border-radius: $button-large-border-radius-mobile;
      font-size: 24px;
      height: 77px;
      width: 280px;
    }

    @media (max-width: 420px) {
      width: 260px;
    }

    @media (max-width: 380px) {
      height: 60px;
      font-size: 18px;
    }

    @media (max-width: 300px) {
      width: auto;
      height: auto;
      padding: 12px 24px;
    }
  }

  &.secondary {
    outline: none;
    /* outline: 3px solid;
    outline-offset: -3px;
    outline-color: linear-gradient(180deg, #fae8d6 0%, #f3ba7b 100%); */

    border-radius: $button-small-border-radius;
    padding: 0 32px;
    background: $color-button-small;
    position: relative;
    z-index: 1;
    color: $text-color-button-small;
    font-size: 20px;
    height: 52px;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 3px;
      border-radius: inherit;
      background: linear-gradient(180deg, #fae8d6 0%, #f3ba7b 100%);
      mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask: linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: destination-out;
      mask-composite: exclude;
      pointer-events: none;
      z-index: -1;
    }

    @media (max-width: 768px) {
      border-radius: $button-small-border-radius-mobile;
      font-size: 18px;
    }

    @media (max-width: 300px) {
      width: auto;
      height: auto;
      padding: 12px 24px;
    }
  }

  &:hover {
    transform: scale(1.07);
  }
}
