@import "../../../styles/colors.scss";
@import "../../../../public/fonts/fonts.scss";
@import "../../../styles/variables.scss";

.button {
  cursor: pointer;
  font-family: $font-secondary;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-style: normal;
  font-weight: $font-weight-black;
  line-height: normal;
  text-transform: uppercase;

  &.primary {
    // outline: 4px solid;
    // outline-offset: -4px;
    // outline-color: #f9f8f83b;

    border-radius: $button-large-border-radius;
    background: $color-button-large;
    color: $text-color-button-large;
    font-size: 28px;
    border: none;
    height: 82px;
    padding: 24px 48px;
    min-width: 280px;
    // width: 340px;

    @media (max-width: 768px) {
      border-radius: $button-large-border-radius-mobile;
      font-size: 24px;
      height: 77px;
      min-width: 240px;
      // width: 280px;
    }

    @media (max-width: 420px) {
      width: 260px;
      padding: auto;
    }

    @media (max-width: 380px) {
      height: 60px;
      font-size: 18px;
    }

    @media (max-width: 300px) {
      width: auto;
      height: auto;
      padding: 12px 24px;
    }
  }

  &.secondary {
    // outline: 3px solid;
    // outline-offset: -3px;
    // outline-color: #2e2e2e3b;

    border-radius: $button-small-border-radius;
    padding: 0 32px;
    background: $color-button-small;
    color: $text-color-button-small;
    font-size: 20px;
    border: none;
    height: 52px;

    @media (max-width: 768px) {
      border-radius: $button-small-border-radius-mobile;
      font-size: 18px;
    }

    @media (max-width: 300px) {
      width: auto;
      height: auto;
      padding: 12px 24px;
    }
  }

  &:hover {
    transform: scale(1.07);
  }
}
