@import "../../styles/colors.scss";
@import "../../styles/typography.scss";
@import "../../styles/variables.scss";

.bonus-details-section {
  button {
    align-self: center;
    width: 280px;

    @media (max-width: 850px) {
      width: 240px;
    }

    @media (max-width: 480px) {
      width: auto;
    }
  }
}

.table {
  width: 100%;
  display: grid;
  row-gap: 24px;
}

.row {
  display: grid;
  grid-template-columns: 18% 22% 12% 13% 12% 23%;
  align-items: center;
  border-radius: $border-radius;

  .secondary {
    width: 218px;
    height: 56px;
    box-shadow: 0px 4px 8px 0px rgba(0, 4, 13, 0.2);
    color: $text-color-primary;
    margin-top: -3px;
    margin-left: 6px;
  }

  @media (max-width: 1080px) {
    grid-template-columns: 25% 15% 15% 15% 30%;
  }

  @media (max-width: 850px) {
    grid-template-columns: 36% 22% 22% 20%;

    button {
      width: auto;
    }
  }
}

.cell {
  color: $text-color-third;
  font-family: $font-primary;
  background: $color-background-third;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  padding: 9.25px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 88px;

  &:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &.last-cell {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    height: 40px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &.last-cell::after {
    display: none;
  }

  .offerImage {
    filter: drop-shadow(0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.75));
  }

  @media (max-width: 850px) {
    font-size: 18px;
    height: 80px;

    &.info-cell {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }

    &::after {
      display: none;
    }

    &:first-child::after {
      display: block;
    }
  }

  @media (max-width: 480px) {
    font-size: 16px;
    padding: 4px 8px;
  }
}

.accordion {
  width: 100%;
  grid-column: span 6;
  background: $color-background;
  display: grid;
  grid-template-columns: 18% 82%;
  color: $text-color-third;
  font-family: $font-primary;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  // padding-top: 16px;

  @media (max-width: 1080px) {
    grid-template-columns: 25% 75%;
  }

  @media (max-width: 850px) {
    grid-template-columns: 36% 64%;
    font-size: 18px;
    line-height: 32px;
    padding-top: 16px;
  }
}

.accordion-item {
  display: contents;

  &.last-cell {
    display: flex;
    width: 100%;
  }
}

.accordion-item.show-768 {
  display: none;
}

@media (max-width: 850px) {
  .accordion-item.show-768 {
    display: contents;
  }
}

.accordion-title,
.accordion-value {
  background: $color-background;
  text-align: left;
  padding: 8px 10px 8px 16px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 15%;
    height: 70%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:last-child::after {
    display: none;
  }

  @media (max-width: 850px) {
    padding: 8px 0 8px 8px;

    &::after {
      display: none;
    }

    &:first-child::after {
      display: block;
    }

    &.last-cell {
      display: flex;
      justify-content: flex-end;
      border-bottom: none;
      padding: 16px 0 0 !important;
      &::after {
        display: none;
      }

      button {
        width: 221px;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 4px 8px;
    font-size: 16px;

    button {
      width: auto !important;
    }
  }

  @media (max-width: 420px) {
    padding: 0 0 0 4px;
  }

  @media (max-width: 300px) {
    padding: 0;
  }
}

@media (max-width: 1080px) {
  .hide-1020 {
    display: none !important;
  }
}

@media (max-width: 850px) {
  .hide-768 {
    display: none !important;
  }

  .show-768 {
    display: block;
  }
}

.head-row {
  height: 88px;
  background: $color-background-fourth;
  color: $text-color-primary;
  font-family: $font-primary;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  box-shadow: 0px 4px 8px 0px rgba(0, 4, 13, 0.2);

  @media (max-width: 850px) {
    font-size: 18px;
    height: 74px;
  }
}

.headerCell {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 72px;
  text-align: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    height: 72px;
    width: 1px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:last-child::after {
    display: none;
  }

  @media (max-width: 850px) {
    padding: 0 11px;

    &::after {
      display: none;
    }

    &:first-child::after {
      display: block;
    }
  }

  @media (max-width: 380px) {
    padding: 0;
  }
}

.icon-button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 850px) {
    img {
      width: 32px;
      height: 32px;
    }
  }

  @media (max-width: 480px) {
    img {
      width: 24px;
      height: 24px;
    }
  }
}
