@import "../../styles/colors.scss";
@import "../../../public/fonts/fonts.scss";
@import "../../styles/variables.scss";

.mobile-section {
  background: $color-background-secondary;
  padding: 64px 0;
  margin-bottom: 140px;

  .mobile-content {
    display: flex;
  }

  .advantages-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 32px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);

    @media (max-width: 768px) {
      padding: 24px 24px 0 24px;
    }
  }

  .app-info-block {
    padding-left: 32px;
    max-width: 342px;
    min-width: 341px;

    @media (max-width: 1280px) {
      h3 {
        margin-bottom: 24px;
      }
    }

    @media (max-width: 940px) {
      max-width: 400px;
    }

    @media (max-width: 768px) {
      padding-left: 0;
      max-width: 100%;
    }

    @media (max-width: 500px) {
      max-width: 100%;
      min-width: 0;
    }
  }

  .advantages-block,
  .app-info-block {
    align-items: flex-start;
    color: $text-color-primary;

    .primary {
      height: 82px;
    }
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 16px;
      width: 400px;
      font-family: $font-primary;
      font-size: 24px;
      font-style: normal;
      font-weight: $font-weight-regular;
      line-height: normal;

      @media (max-width: 940px) {
        width: 340px;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  .app-buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 24px;
    margin-top: 48px;

    button {
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 181px;
      }
    }

    @media (max-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 24px;
    }

    @media (max-width: 500px) {
      margin-bottom: 0;
    }
  }

  .mobile-image {
    @media (min-width: 1281px) {
      .app-image {
        margin-top: 10px;
        margin-left: -20px;
      }
    }

    @media (min-width: 1281px) and (max-width: 1360px) {
      width: 100%;

      .app-image {
        width: 100%;
        height: auto;
      }
    }

    @media (max-width: 1280px) {
      &.hide-1080 {
        display: none;
      }
    }
  }

  .mobile-image.show-1080 {
    display: none;

    @media (max-width: 1280px) {
      display: flex;
      justify-content: center;
      overflow: hidden;
    }
  }

  @media (max-width: 768px) {
    padding: 64px 0 40px 0;
    margin-bottom: 64px;

    .mobile-content {
      display: flex;
      flex-direction: column-reverse;
      gap: 40px;

      .app-info-block {
        .mobile-image {
          .app-image {
            margin: 0 0 24px 0;
          }
        }

        h3 {
          padding: 0 0 0 24px;
        }
      }

      .advantages-block {
        padding-left: 24px;
        border: none;
        gap: 24px;

        ul {
          gap: 16px;

          li {
            font-size: 18px;
            width: auto;
          }
        }

        button {
          align-self: center;
          margin-top: 40px;
          height: 77px;
        }
      }
    }
  }

  @media (max-width: 500px) {
    .mobile-image {
      .app-image {
        width: 100%;
        height: auto;
      }
    }
  }

  @media (max-width: 380px) {
    .mobile-content {
      .app-info-block,
      .advantages-block {
        padding: 0;

        h3 {
          padding-left: 24px;
        }
      }

      .advantages-block {
        button {
          height: 60px;
        }
      }
    }
  }
}
